.footer {
  //   align-items: center;
  background-color: #fff;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
}

.footer a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
}
