.header {
  align-items: center;
  background: #fff;

  display: flex;
  height: 80px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 130px;
}

.header__menu ul {
  display: flex;
  list-style: none;
}
.header__menu li {
  margin: 10px 20px;
}
.header__menu li a {
  color: BLACK;
  text-decoration: none;
  font-size: 1.6rem;
}
